<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="index.php?page=controller_home&op=homepage" class="nav__logo">WEBSITE</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>

        <div class="search__container">
            <form class="search__form">
                <!-- <div class="search__input"> -->
                    <select id="sexo">
                        <option value="0">Sexo</option>
                    </select>
                <!-- </div>
                <div class="search__input"> -->
                    <select id="categoria">
                        <option value="0">Categoria</option>
                    </select>
                <!-- </div>
                <div class="search__input"> -->
                    <input type="text" id="autocom" autocomplete="off"/>
                    <div id="search_auto"></div>
                <!-- </div>
                <div class="input"> -->
                    <input type="button" value="search" id="search-btn"/>
                <!-- </div> -->
            </form>
        </div> 
    </nav>
</header>

