
    <div class="shop__container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="filters__container">
            <form autocomplete="on" method="post" name="filter" id="filter" >
                <div class="filters__content"></div>
            </form> 
        </div>
        <div class="shop__list">
            <div class="list__container">
                <div class="list__content" id="list_product"></div>
            </div>
        </div>
        <div class="shop__details"></div>
        <div id="pagination"></div> 

    </div>
